table {
    width: 100%;
}

tr.table-detail-row {
    height: 0;
}

tr.table-element-row:not(.table-expanded-row):hover {
    background: #f5f5f5;
}

tr.table-element-row:not(.table-expanded-row):active {
    background: #efefef;
}

label {
    font-weight: bold;
}

.table-row td {
    border-bottom-width: 0;
    cursor: pointer;
}

.table-row-detail {
    overflow: hidden;
    display: flex;
}

.table-row-detail-item {
    padding-left: 120px;
    padding-right: 16px;
}
