.application {
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

.application-details {
    border: 1px;
    border-color: lightgray;
    border-radius: 3px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.application-form {
    background-color: white;
    padding: 20px;
    width: 30%;
}

.company-details {
    border: 1px;
    border-color: lightgray;
    border-radius: 3px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.home-icon {
    margin-top: 10px;
}

.matching-message {
    margin-bottom: -10px;
    margin-top: 10px;
}

.personal-details {
    border: 1px;
    border-color: lightgray;
    border-radius: 3px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.product-details {
    border: 1px;
    border-color: lightgray;
    border-radius: 3px;
    border-style: solid;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.search-button {
    margin-bottom: 10px;
    text-align: center;
}

.search-source {
    margin-bottom: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.search-toggle {
    margin-top: 5px !important;
}